$pure-white: #fff;
$light-white: #ddd;
$bg-gradient: linear-gradient(45deg, rgb(140, 145, 198) 0%, rgb(47, 98, 94) 87%);
$lighter-white: rgba(255, 255, 255, .1);
$light-black: rgba(0, 0, 0, .3);
$hover: rgb(46, 89, 112);
$green: rgb(51, 143, 51);
$red: rgb(184, 65, 44);
$popup-black: rgba(0, 0, 0, .7)